body{
  background-image: linear-gradient(180deg,black,rgb(3, 3, 66));
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;

}
.logo{
    color: wheat;
    text-align: center;
    margin-top: 7%;
    font-size: xxx-large;
    font-style: italic;
    /* font-family: fantasy; */
}

.navbar{
  background-color: transparent;  
  /* color: white; */
  text-align: center;
  justify-content: space-between;
  font-size: xx-large;
}
.navbar a.active{
color: wheat;

}
.navbar a{
    color: wheat;
    padding-left: 7%;
}
.ourpizza img{
     width: 200px; 
    height: 200px;
    padding-top: 5rem;
}
.ourpizza{
    color: wheat;

}
.ourpizza h1{
    text-align: center;
}
.row{
    display: flex;
    padding-left:0rem;
    margin-left: 8%;
}
#periperi{
    padding-left: 3rem;
}
#ourpizzadesc{
    font-size: x-large;
    text-align: center;
}
.container-fluid{
    display: contents;
    justify-content: center;
}
#ordertitle{
    text-align: center;
}
.orderonline{
    background-image: url(images/formbgrnd.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
form{
    border: 1px solid black;
    width:30%;
    height: 300px;
    text-align: center;
    margin-left: 35%;
    background-color: rgba(199, 100, 7, 0.829);
    opacity: 0.9;
    color: black;
    
}
#orderonlinetext{
    font-size:xx-large ;
}
.message h3{
    color: wheat;
}
.contactus{
    text-align: center;
    margin-top: 5%;
    color: wheat;
}
