body{
    /* background-image: url(images/pizza\ nova\ backgrnd.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
.logo{
    color: black;
    text-align: center;
    margin-top: 7%;
    font-size: xxx-large;
    font-style: italic;
    /* font-family: fantasy; */
}

.navbar{
  background-color: transparent;  
  /* color: white; */
  text-align: center;
  justify-content: space-between;
  font-size: xx-large;
}
.navbar a.active{
color: black;

}
.navbar a{
    color: black;
    text-decoration-style: wavy;
    padding-left: 7%;
}
.ourpizza img{
    width: 50%;
    height: 700px;
    padding-top: 5rem;
    float: left;
}
.ourpizza{
    display: flex;
}
.menu{
    color: black;
    font-size: large;
    margin-left: 7%;
    padding-top: 5rem;
    float: right;
}
.orderonline{
    display: flex;
    padding: top 10%; ;
    margin-left: 25%;
    /* padding-right: 5%; */
   
}
.row{
   display: flex;
}
.orderonline #img1,#img2,#img3{
    width: 200px;
    height: 200px;
    /* padding-left: 3rem; */
    border-radius: 80%;
  /* margin-left: 10%; */

}
h2

form{
    border: 1px solid black;
    width:30%;
    height: 300px;
    text-align: center;
    margin-left: 33%;
    
}
#name{
    margin-top: 5rem;
}
